@media (max-width:2560px) and (min-width:1441px) {
  body {
    background-color: slategrey;
  }
}

@media (max-width:1440px) and (min-width:1201px) {
  body {
    background-color: seagreen;
  }
}

@media (max-width:1200px) and (min-width:1025px) {
  body {
    background-color: maroon;
  }
}

@media (max-width:1024px) and (min-width:993px) {
  body {
    background-color: navy;
  }
}

@media (max-width:992px) and (min-width:769px) {
  body {
    background-color: chartreuse;
  }

  .navbar .contain .navbar-nav {
    display: none;
  }

  .brand-container {
    flex-direction: column;
  }

  .features .arr-1 img .features .arr-2 img,
  .features .arr-3 img,
  .features .arr-4 img,
  .features .arr-5 img,
  .features .arr-6 img,
  .features .arr-1 p,
  .features .arr-2 p,
  .features .arr-3 p,
  .features .arr-4 p,
  .features .arr-5 p,
  .features .arr-6 p,
  .descover .decoration::before {
    left: 800px;
  }
}

@media (max-width:768px) and (min-width:577px) {
  body {
    background-color: black;
  }

  .navbar .contain .navbar-nav {
    display: none;
  }

  .brand-container {
    flex-direction: column;
  }

  .features .arr-1 img .features .arr-2 img,
  .features .arr-3 img,
  .features .arr-4 img,
  .features .arr-5 img,
  .features .arr-6 img,
  .features .arr-1 p,
  .features .arr-2 p,
  .features .arr-3 p,
  .features .arr-4 p,
  .features .arr-5 p,
  .features .arr-6 p,
  .descover .decoration::before {
    left: 800px;
  }
}

@media (max-width:576px) and (min-width:426px) {
  body {
    background-color: gold;
  }


  .navbar .contain .navbar-nav {
    display: none;
  }

  .brand-container {
    flex-direction: column;
  }

  .features .arr-1 img .features .arr-2 img,
  .features .arr-3 img,
  .features .arr-4 img,
  .features .arr-5 img,
  .features .arr-6 img,
  .features .arr-1 p,
  .features .arr-2 p,
  .features .arr-3 p,
  .features .arr-4 p,
  .features .arr-5 p,
  .features .arr-6 p,
  .descover .decoration::before {
    left: 800px;
  }
}

@media (max-width:425px) and (min-width:376px) {
  body {
    background-color: rebeccapurple;
  }


  .navbar .contain .navbar-nav {
    display: none;
  }

  .brand-container {
    flex-direction: column;
  }

  .features .arr-1 img .features .arr-2 img,
  .features .arr-3 img,
  .features .arr-4 img,
  .features .arr-5 img,
  .features .arr-6 img,
  .features .arr-1 p,
  .features .arr-2 p,
  .features .arr-3 p,
  .features .arr-4 p,
  .features .arr-5 p,
  .features .arr-6 p,
  .descover .decoration::before {
    left: 800px;
  }
}

@media (max-width:375px) and (min-width:321px) {
  body {
    background-color: red;
  }


  .navbar .contain .navbar-nav {
    display: none;
  }

  .brand-container {
    flex-direction: column;
  }

  .features .arr-1 img .features .arr-2 img,
  .features .arr-3 img,
  .features .arr-4 img,
  .features .arr-5 img,
  .features .arr-6 img,
  .features .arr-1 p,
  .features .arr-2 p,
  .features .arr-3 p,
  .features .arr-4 p,
  .features .arr-5 p,
  .features .arr-6 p,
  .descover .decoration::before {
    left: 800px;
  }
}

@media (max-width:320px) {
  .plane-sec,
  .brand,
  .news,
  .navbar {
    padding: 0;
  }

  footer,
  .contact-style,
  .images,
  .plane-sec,
  .descover,
  .news,
  .icon-content,
  .showcase,
  .brand,
  .brand-container,
  .user-features,
  .features,
  .simple-card,
  header,
  .navbar {
    width: 100%;

  }

  .contact-style,
  .images,
  .plane-sec,
  .news,
  .showcase,
  .brand,
  .features,
  .simple-card {
    margin-top: 0;
  }

  header {
    padding: 50px 0 150px
  }

  header .contain h1 {
    font-size: 26px;
    top: 20%;
    ;
  }

  header .contain p {
    font-size: 18px;
    top: 52%;
  }

  .header .input-content {
    width: 230px;
  }

  .simple-card h1 {
    font-size: 30px;
    margin: 10px 60px 0px 60px;
  }

  .simple-card .decoration::after {
    top: 67px;
    left: 33%;
  }

  .simple-card .decoration::before {
    top: 60px;
    left: 240px;
  }

  .simple-card .p-text {
    margin-top: 50px;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .simple-card .container .container{
    margin: 10px 100px;
  }
  .icon-content {
    height: 130px;
  }


  .images .container {
    flex-direction: row;
    display: flex;
    gap: 10px;
  }

  .brand-container .content .icon {
    width: 100%;
  }

  .botn textarea {
    width: 200px;
  }

  .brand-container .content .icon .icon-bk {
    width: 25px;
    height: 25px;
  }

  .brand-container .content .icon img {
    width: 10px;
    height: 10px;
  }

  .brand-container .content .icon p {
    margin: 0px;
    padding: 5px;
  }

  .brand-container {
    gap: 50px;
  }

  .navbar .contain .navbar-nav {
    display: none;
  }


  .brand-container .right img {
    width: 275px;
    margin: 0;
  }

  .features .arr-1 img,
  .features .arr-2 img,
  .features .arr-3 img,
  .features .arr-4 img,
  .features .arr-5 img,
  .features .arr-6 img,
  .features .arr-1 p,
  .features .arr-2 p,
  .features .arr-3 p,
  .features .arr-4 p,
  .features .arr-5 p,
  .features .arr-6 p,
  .showcase .decoration::before,
  .features .decoration::before,
  .news .decoration::before,
  .plane-sec .decoration::before,
  .descover .decoration::after,
  .descover .decoration::after,
  .contact-style .decoration::before,
  .descover .decoration::before,
  .user-features::after,
  .user-features .right .right-content h1 {
    left: 90px;
  }

  .features img {
    width: 300px;
  }

  .brand-container,
  .user-features {
    flex-direction: column;
  }


  .contact-style p,
  .news .para,
  .showcase p {
    margin: 0;
  }

  .botn button,
  .botn textarea,
  .contact-style [type="text"],
  [type="email"] {
    width: 300px;
  }

  .features .intro {
    margin: 0px;
  }

  .pricing-card button {
    width: 200px;
  }

}